html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-size: .7em;
    line-height: 1;
    font-family: Verdana;
    padding: 1em;
    background-color: #ddd;
    color: black;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#failed {
    border: solid thin red;
    padding: 1em;
     background-color: rgba(255, 0, 0,.3);
}

#passed {
    border: solid thin green;
    padding: 1em;
    background-color: rgba(0,128,0,.3);
    
}
h1 {
    font-size: 4em;
    padding-top: .2em;
    padding-bottom: .2em;
    font-weight: bold;
}

.expandContract {
    cursor: pointer;
    padding-left: 1em;
}
.expandContract:before {
    content: " ";
    position: absolute;
    width: .5em;
    height: .5em;
    margin-top: .3em;
    background-color: green;
    -ms-border-radius: 1em;
    border-radius: 1em;
    margin-left: -.7em;
}

.failed.expandContract:before {
    background-color: red;
}
#results {
    background-color: #eaeaea;
    border: solid thick #ccc;
    padding: 1em;
    margin: 1em;
}
#results h2 {
    font-size: 3em;
    padding-top: .1em;
    padding-bottom: .1em;
}
#results h3 {
    font-size: 2em;
    font-weight: bold;
    padding-top: .5em;
    padding-bottom: .5em;
}
#maxUnitResults table {
    width: 80%;
    background-color: white;
    color: black;
}

#maxUnitResults table thead {
    background-color: #333;
    color: white;
    border: solid thin #333;
}
#maxUnitResults article {
    margin-bottom: 1em;
}


    #maxUnitResults article section {
        margin-bottom: 1em;
    }

.failed {
    color: red;
}

td {
    border: solid thin gray;
    padding: .5em;
}
